a {
    font-family: arial;
    font-size: 1.2em;
}

h1 {
    color: yellow;
    height: 120px;
    line-height: 250%;
    background-color: green;
    text-align: center;
    border: 1px solid #000000;
    border-radius: 15px;
    text-indent: 1em;
   
}

/* background-size: 20% 100%;
    background-position: left top;
    background-repeat: no-repeat;
    text-shadow: 3px 3px 3px #aa0a0a; */

#topimg {
    float: left;
    margin-right: 10px;
    border: 3px ridge #000000;
}

h2 {
    text-shadow: 3px 3px 3px #666;
}

body {
    width: 80%;
    min-width: 750px;
    background-color: palegreen;
}

#wrapper {
    width: 750px;
    margin-left: auto;
    margin-right: auto;
}